#stock-chart{
    text-align: center;
    width:100%;
    height:400px;
}
#stock-avg-chart{
    top:0px;
    width:500%;
    height:400px;
}
nz-modal{
    width: 800%;
}
 
::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   