#stock-chart{
    width:160%;
    height:400px;
}
#stock-avg-chart{
    top:0px;
    width:500%;
    height:400px;
}
 

 
::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-custom{
      position: relative;
      border-radius: 15px;
      background: coral;
      margin-right: 12px;
      font-size: 12px;
  }
  .btn-stock{
      background:#fff;
      position: relative;
       display: flex;
       justify-content: flex-end
  }
 
  .list-stock{
    position: relative;
     display: flex;
    justify-content:flex-end; 
     top:-340px;
    margin-left:auto;
    margin-right:-40px;  
    margin:1px;
    
}

.tabs-valuation-box {
    background:#fff;
    margin: 1px;
    height: 400px; 
    text-align:center;
    font-size:30px;
  }
  .valuation-result-box{
    background:#fff;
    height: 400px;
    text-align:right;
    margin: 1px;
  }
  .company-info-box{
      background: #fff;
      text-align: center;
      top:0px;
      margin:1px;
  }
  .table-type{
      position: relative;
      
  }
  .btn-custom-table-result{
      color:red;
      position: relative;
      border-radius: 15px;
  }
  .btn-custom-bid{
    border-radius: 15px;
    background: red;
    font-size: 12px;
    width:50px;
    /* margin-right: 12px;
    
    width:100%; */
  }
  .btn-custom-valuate{
    position: relative;
    border-radius: 15px;
    background: yellow;
    margin-right: 12px;
    font-size: 12px;
  }
  .btn-custom-transfer{
    position: relative;
    border-radius: 15px;
    background: grey;
    margin-right: 12px;
    font-size: 12px;
  }
  .nzrow-box-1 {
    width:100px;
    height:40px;
    font-size:12px;
    text-align:center;

  }
  .nzrow-box-2{
    width:100px;
    height:40px;
    font-size:12px;
    text-align:center;
  }
  .gutter-box {
    padding: 5px 0;

  }

 .custom-layout-footer{
     margin-left:10px;
     top:10px;
     
 }
 
 
   